* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: calc(33.33333% - 20px);
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card__image {
    width: 300px;
}